<nav class="navbar navbar-expand-lg" style="background-color: #4c2b63; padding: 15px;">
  <a class="navbar-brand" style="color: #e0d3f5; font-weight: bold; font-size: 20px;">EVALUACIÓN PARCIAL</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" style="color: #FFFFFF; font-size: 18px; transition: 0.3s; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FCE1B5'; this.style.color='#512EE5'" onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFFFFF'">INICIO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/legion" style="color: #FFFFFF; font-size: 18px; transition: 0.3s; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FCE1B5'; this.style.color='#512EE5'" onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFFFFF'">EVALUACIÓN</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/producto" style="color: #FFFFFF; font-size: 18px; transition: 0.3s; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FCE1B5'; this.style.color='#512EE5'" onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFFFFF'">PRODUCTO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/libro" style="color: #FFFFFF; font-size: 18px; transition: 0.3s; padding: 10px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FCE1B5'; this.style.color='#512EE5'" onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFFFFF'">LIBRO</a>
          </li>
      </ul>
  </div>
</nav>